html {
    position: relative;
    min-height: 100%;
  }

body{
 background-color: #192ca8;
 margin-bottom: 80px;
 font-family: 'PT Serif', serif;
}

.headerText{
    margin-top: 300px;
    color: #e65a73;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    font-size: 45px;

}

.subHeaderText{
    color: #f5f5f5;
    text-align: center;
}

.createProfile{
    margin-top: 20px;
    margin-bottom: 25px;
}

.surveyText{
    color: #e65a73;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    font-size: 45px;
    margin-bottom: 30px;
}

.extraLinks {
    color: #f5f5f5;
    text-align: center;
    margin-bottom: 30px;
}

a:hover {
    color: #e65a73;
}

/* selected link */
a:active {
    color: #f5f5f5;
}

.formQuestion{
    color: #e65a73;
    text-align: left;
    font-size: 22px;
}

.formQuestion2{
    color: #f5f5f5;
    text-align: left;
    font-size: 18px;
}

.formAnswer{
    color: #f5f5f5;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    font-size: 14px;

}
.submitButton{
    margin-top: 50px;
    margin-bottom: 100px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    /* height: 150px; */
    background-color: #f5f5f5;
    /*text-align: left;*/
    /* vertical-align: middle; */
    
  }
  

  
  .container .social-icons{
      margin: 30px 0;
      /* vertical-align: middle; */
      /* margin-bottom: 40px; */
  }